@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1F2535;
  padding: 15px 50px;
  margin-bottom: 0;
}

.nav-img {
  width: 40px;
  height: 40px;
}

.Banner {
  background-color: #1F2535;
  padding: 70px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Banner h1 {
  margin-top: 0;
  max-width: 40%;
  text-align: start;
  font-weight: 700;
}
.Banner p {
  margin-bottom: 50px;
  max-width: 35%;
  text-align: start;
  font-weight: 300;
}

.Banner button {
  background-color: white;
  color: #1F2535;
  font-weight: 700;
}

.Gallery {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 20%;
}

.Card img {
  width: 50%;
}

.description{
  color: #1F2535;
  margin: 0;
}

.paragraph {
  padding: 0 15%;
  font-weight: 300;
}